
@(categorias : List[Categoria], categoriaForm: Form[Categoria])

@import helper._

@main("Guia", "Pesquisar Categorias") {


	<div class="form">
    	@form(routes.CategoriaController.categoriaPesquisar(), 'class -> "niceform"){
    		<fieldset>
				@inputText(categoriaForm("descricao"))
				
				<dl class="submit">
	            	<input type="submit" name="submit" id="submit" value="Pesquisar" />
	            </dl>
    		</fieldset>
		}
	</div>
	
	<table id="rounded-corner" summary="2007 Major IT Companies' Profit">
	    <thead>
	    	<tr>
	        	<th scope="col" class="rounded-company"></th>
	            <th scope="col" class="rounded">Categoria</th>
	            <th scope="col" class="rounded">Data</th>
	            <th scope="col" class="rounded">Editar</th>
	            <th scope="col" class="rounded-q4">Excluir</th>
	        </tr>
	    </thead>
        <tfoot>
	    	<tr>
	        	<td colspan="4" class="rounded-foot-left">
	        		<em>Se for o caso colocar alguma observação nessa área.</em>
	        	</td>
	        	<td class="rounded-foot-right">&nbsp;</td>
	        </tr>
	    </tfoot>
	    <tbody>
	    				
			@for(categoria <- categorias){
			
				<tr>
		        	<td><input type="checkbox" name="" /></td>
		            <td>@categoria.descricao</td>
		            <td></td>
		            <td>
		            	<a href="#">
		            		<img src="@routes.Assets.at("images/user_edit.png")" alt="" title="" border="0" />
		            	</a>
		            </td>
		            <td>
		            	<a href="@routes.CategoriaController.deleteCategoria(categoria.id)" class="ask">
		            		<img src="@routes.Assets.at("images/trash.png")" alt="" title="" border="0" />
		            	</a>
		            	
		            </td>
		        </tr>
					
			}
		</tbody>
	</table>
	
	<a href="@routes.CategoriaController.categoriaForm()" class="bt_green"><span class="bt_green_lft"></span><strong>Novo</strong><span class="bt_green_r"></span></a>
	<!-- 
	<a href="#" class="bt_blue"><span class="bt_blue_lft"></span><strong>View all items from category</strong><span class="bt_blue_r"></span></a>
	<a href="#" class="bt_red"><span class="bt_red_lft"></span><strong>Delete items</strong><span class="bt_red_r"></span></a>
	 -->
	
	<div class="pagination">
		<span class="disabled"><< prev</span><span class="current">1</span><a href="">2</a><a href="">3</a><a href="">4</a><a href="">5</a>…<a href="">10</a><a href="">11</a><a href="">12</a>...<a href="">100</a><a href="">101</a><a href="">next >></a>
	</div>
	
}